:root {
  --accent: #b384c2;
  --foreground: rgb(161, 161, 161);
  /* --gray: #b87333; */
  --background: black;
}

.fontStyle {
  font-family: 'Oxygen', sans-serif;
}
purple
.nameFont {
  font-family: 'Merienda One', cursive;
  font-weight: 100;
}

.headerFont {
  font-family: 'Merienda One', cursive;
  font-weight: 200;
  font-size: 50px;
  border-bottom: 1px solid black;
  padding: 30px;
}

.subHeaderFont {
  font-family: 'Merienda One', cursive;
  font-weight: 100;
  text-decoration: underline var(--accent);
}

.mainHeaderFont {
  font-weight: 200;
  font-size: 50px;
  margin: 0px;
}

.mainHeaderBox {
  font-family: 'Merienda One', cursive;
  margin: 20px;
  padding: 20px;
  font-size: 25px;
  border-bottom: 1px solid black;
  height: 20%
}

h1 {
  margin: 20px;
}

.MainPage {
  display: flex;
  background-color: var(--background);
  height: 100vh;
  font-family: 'Oxygen', sans-serif;
}

.Content {
  margin: 40px 20px 40px 20px;
  padding-top: 40px 40px 40px 40px;
  border-radius: 50px;
  width: 75%;
  text-align: center;
  /* background-color: rgb(165, 165, 174); */
  background-color: var(--foreground);
}


/* CONTACT ME -LEFTSIDE CONTENT */

.CMContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50%;
}

.CMBlurb {
  text-align: center;
  width: 50%;
  margin: auto;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.CMLeft{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CMRight{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CMLinks {
  display: flex;
  justify-content: center;
  font-size: larger;
  align-items: center;
  text-decoration: none;
  color: black;
}

.ResumeText {
  margin: 0px;
  font-weight: 600;
  margin-left: 5px;
}

.DLIcon {
  height: 30px;
  /* margin-left: 5px; */
  margin-right: 5px;
  border-radius: 50%;
}


/* SIDEBAR */

.SideBar {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  /* border-right: 1px solid black; */
}

.LinksContainer {
  margin: 0px 0px 20px 40px;
  padding: 10px;
  background-color: var(--foreground);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.img {
  height: 250px;
  padding-bottom: 20px;
  border-radius: 50%;
}

.imgContainer {
  margin: 40px 20px 20px 40px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  width: auto;
  background-color: var(--foreground);
  border-radius: 50px;
}

.icon {
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
}

.icon:hover {
  color: rgb(147, 4, 147);
  box-shadow: 2px 2px 10px rgb(147, 4, 147);
}

.IconBar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.Link:hover {
  box-shadow: 3px 3px 5px black;
  background-color: rgb(147, 132, 159);
}


/* SKILLS SECTION */

.Scontent {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}

.SColumn {
  display: flex;
  flex-direction: column
  ;
}

.SkillTypes {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
  margin: auto;
}

.Type {
  margin: 0px 15px 0px 15px;
  width: 110px;
}

.SCSkill {
  margin: 15px 0px 15px 0px;
  width: 110px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 2px black;
  font-weight: 600;
}

.Language {
  border: 1px solid;
  border-color: #b384c2;
}

.Framework {
  border: 1px solid;
  border-color: #b384c2;
}

.Database {
  border: 1px solid;
  border-color: #b384c2;
}

.Tool {
  border: 1px solid;
  border-color: #b384c2;
}

.SCSkill:hover {
  /* color: rgb(147, 4, 147); */
  font-weight: 700;
  box-shadow: 5px 5px 15px rgb(74, 74, 74);
  background-color: rgb(181, 181, 181);
}


/* ABOUT ME section */ 

.ABContent {
  display: flex;
  align-items: center;
  height: 60%;
}

.ABLeft {
  width: 70%;
  padding: 0px 50px 0px 50px;
}

.ABHeader {
  display: flex;
  justify-content: space-evenly;
}


.ABBlurb{
  line-height: 170%;
}

.ABRight {
  width: 30%;
  padding: 0px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid black;
}

.PurpleBtn{
  margin: 20px 0px 20px 0px;
  padding: 10px 20px 10px 20px;
  font-size: large;
  background-color: var(--accent);
  /* background-color: rgb(208, 181, 241); */
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
  color: black;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabledPurpleBtn{
  margin: 20px 0px 20px 0px;
  padding: 10px;
  font-size: large;
  background-color: #b07ac2;
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
  color: black;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid black;
  cursor: default;
}

.PurpleBtn:hover {
  box-shadow: 3px 3px 5px black;
  background-color: #a46cb6;
}


/* PROJECTS Section */

.PContent {
  display: flex;
  justify-content: center;
  width: 100%;
}

.PIndividualContent {
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.MadeWith {
  width: 30%;
  border-right: 1px solid black;
}

.Description {
  width: 70%;
  padding: 0px 50px 0px 50px;
}

.PProjectList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px 0px 50px;
  border-left: 1px solid black ;
}

.PLeftSideContent {
  text-align: center;
  width: 70%;
  padding: 0px 50px 0px 50px;
}

.video {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 5px;
}