.fontStyle {
  font-family: 'Oxygen', sans-serif;
}

.nameFont {
  font-family: 'Oxygen', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
}

.headerFont {
  font-family: 'Oxygen', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-weight: 200;
  font-size: 50px;
}
.mainHeaderFont {
  font-weight: 200;
  font-size: 50px;
  margin: 0px;
}

.mainHeaderBox {
  font-family: 'Oxygen', sans-serif;
  font-family: 'Permanent Marker', cursive;
  margin: 40px;
  font-size: 25px;
}

h1 {
  margin: 50px;
}

.MainPage {
  display: flex;
  background-color: rgb(143, 143, 157);
  max-height: 100%;
  height: 929px; 
  font-family: 'Oxygen', sans-serif;
  /* set height to auto-fit screen^^^^ */
}

.Content {
  margin: 50px 50px 50px 50px;
  padding-top: 50px 50px 50px 50px;
  border-radius: 5%;
  width: 75%;
  text-align: center;
  background-color: rgb(165, 165, 174);
}


/* CONTACT ME -LEFTSIDE CONTENT */

.CMContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50%;
}

.CMBlurb {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.CMLeft{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CMRight{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CMLinks {
  display: flex;
  justify-content: center;
  font-size: larger;
  align-items: center;
  text-decoration: none;
  color: black;
}

.ResumeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(165, 165, 174);
  box-shadow: 1px 1px 2px black;
  width: 100px;
}

.ResumeBtn:hover {
  box-shadow: 3px 3px 5px black;
  background-color: rgb(147, 132, 159);
}

.DLIcon {
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
}



/* SIDEBAR */

.SideBar {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  /* border-right: 1px solid black; */
}

.LinksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  height: 250px;
  padding-bottom: 20px;
  border-radius: 50%;
}

.imgContainer {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 20px;
  width: 100%;
}

.icon {
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
}

.icon:hover {
  color: rgb(147, 4, 147);
  box-shadow: 2px 2px 10px rgb(147, 4, 147);
}

.IconBar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

/* delete? */
.Link {
  
  /* margin: 20px 0px 20px 0px;
  padding: 10px;
  font-size: large;
  background-color: rgb(208, 181, 241);
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
  color: black;
  text-decoration: none;
  font-weight: 600; */
}

/* delete? */
.Link:hover {
  box-shadow: 3px 3px 5px black;
  background-color: rgb(147, 132, 159);
}


/* SKILLS SECTION */

.SContent {
  display: flex;
  flex-wrap: wrap;
}

.SkillTypes {
  display: flex;
  justify-content: center;
}

.Type {
  margin: 0px 15px 0px 15px;
}

.SCSkill {
  margin: 40px;
  width: 110px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Language {
  border: 1px solid;
  border-color: rgb(189, 5, 5);
  /* color: rgb(189, 5, 5); */
}

.Framework {
  border: 1px solid;
  border-color: rgb(16, 13, 176);
}

.Database {
  border: 1px solid;
  border-color: rgb(59, 144, 2);
}

.Tool {
  border: 1px solid;
  border-color: orange;
}

.SCSkill:hover {
  /* color: rgb(147, 4, 147); */
  font-weight: 700;
  box-shadow: 5px 5px 15px rgb(74, 74, 74);
}


/* ABOUT ME section */ 

.ABContent {
  display: flex;
}

.ABLeft {
  width: 50%;
  padding: 0px 50px 0px 50px;
}

.ABHeader {
  display: flex;
  justify-content: space-evenly;
}

.PurpleBtn{
  margin: 20px 0px 20px 0px;
  padding: 10px 20px 10px 20px;
  font-size: large;
  background-color: rgb(208, 181, 241);
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
  color: black;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid black;
}

.disabledPurpleBtn{
  margin: 20px 0px 20px 0px;
  padding: 10px;
  font-size: large;
  background-color: rgb(208, 181, 241);
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
  color: black;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid black;
  cursor: default;
}

.PurpleBtn:hover {
  box-shadow: 3px 3px 5px black;
  background-color: rgb(200, 77, 200);
  border: none;
}

.ABBlurb{
  line-height: 170%;
}

.ABRight {
  width: 50%;
  padding: 0px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* PROJECTS Section */

.PContent {
  display: flex;
  width: 100%;
}

.PIndividualContent {
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.PMadeWith {
  width: 40%;
}

.PDescription {
  width: 60%;
}

.PProjectList {
  display: flex;
  flex-direction: column;
  margin: 0px 50px 0px 50px;
}

/* delete? */
.PProjectBtn {
  /* margin: 20px 0px 20px 0px;
  padding: 10px;
  font-size: large;
  background-color: rgb(143, 143, 157);
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
  color: black;
  text-decoration: none;
  font-weight: 600; */
}

/* delete? */
.PProjectBtn:hover {
  /* box-shadow: 3px 3px 5px black;
  background-color: rgb(147, 132, 159); */
}

.PRightSideContent {
  text-align: center;
  width: 70%;
}

.video {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}